/*
===============
Style
=============== */

._center {
  text-align:center;
}

body {
  font-family: $font-stack;

  a {
    color: $link-color;
    text-decoration: none;
  }

  h1 {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }

  h2 {
    font-size: $font-size-md;
    line-height: $line-height-md;
  }

  img {
    @include responsive-img;
  }

  #content_body {
    max-width: $max-width;
    margin:auto;
    font-size: $font-size;
    line-height: $line-height;

    @include debug;

    //secondary box menu
    #secondary_menu {

      margin: 10px auto 20px auto;

      .box {
       @include debug;
        @include box-shadow;
        padding: 40px 0 20px 0;
      }

      #box_1 {
        background-color: $primary-color;
      }

      #box_2 {
        background-color: $ternary-color;
      }

      #box_3, #box_4 {
        @include gradient-bg;
      }
    }

    //main article
    article[role="main"] {
      margin-top: 20px;
    }


    //widget box
    .side_widget {
      border: thin solid #000;
      width: 95%;
      margin-bottom: 10px;

      &.full {
        width: 100%;
      }

      .head {
        padding: 21px 15px 1px 15px;
        text-align: center;

        &.primary {
          background-color: $primary-color;
        }

        &.secondary {
          background-color: $secondary-color;
        }
      }

      .body {
        padding: 15px;
      }
    }
  }

  //footer
  footer {
    background-color: $primary-color;
    text-align: center;
    margin-top: 30px;
    font-size: $font-size-sm;
    line-height: $line-height-lg;
  }

}